mixin panel(title, id)
  .panel.panel-info
    .panel-heading(data-toggle='collapse' role='button' aria-expanded='false' href!='#'+id+'Body' aria-controls!=id+'Body')= title
    if id
      .panel-body.collapse(id!=id+'Body')
          block
    else
      .panel-body(id!=id+'Body')
        block

mixin password(title, placeholder, ident)
  +input(title, placeholder, ident, 'password')

mixin text(title, placeholder, ident, value)
  +input(title, placeholder, ident, 'text', value)

mixin input(title, placeholder, ident, type, value)
  .form-group(id!=ident+'Group')
    label.col-md-offset-1.col-md-4.control-label(for!=ident)=title
    .col-md-6
      input.form-control(type!=type, id!=ident, placeholder!=placeholder, value!= value)

mixin form
  form.form-horizontal(onSubmit!=action + ';return false;')
    block

mixin button(title, action)
  button.btn-info.btn.col-md-offset-3.col-md-6(onClick!=action)=title

doctype html
html(lang=en)
  head
    title WPI Collablab - #{title}
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css', rel='stylesheet')
  body
    .container
      .col-md-10.col-md-offset-1
        .well
          h1.text-center(style='display:inline;')
            | Collablab - Management                
          button.pull-right.btn.btn-primary(style='display:inline;' onClick='logout()')
            span.glyphicon.glyphicon-log-out  Logout
      .col-md-10.col-md-offset-1
        ul.nav.nav-tabs.nav-justified
          li.active(id='selfTab' role='presentation')
            a(href="#" onClick="loadTab(0)") Yourself
          if user.labMonitor == 'true'
            li(id='lmTab' role='presentation') 
              a(href="#" onClick="loadTab(1)") Lab monitor
          if user.exec == 'true'
            li(id='execTab' role='presentation')
              a(href="#" onClick="loadTab(2)") Executive
          if user.admin == 'true'
            li(id='adminTab' role='presentation')
              a(href="#" onClick="loadTab(3)") Administrator
          if user.labMonitor != 'true' || user.exec != 'true' || user.admin != 'true'
            li(id='grantTab' role='presentation')
              a(href='#' onClick='loadTab(4)')  Get Privileges
      #self.col-md-8.col-md-offset-2
        br
        +panel('Update Your Nickname')
          +form
            +text('Desired Nickname', 'Enter your new nickname', 'nickname', user.nickname)
            +button('Set Nickname', 'changeNickname()')
        +panel('Change Your Username', 'username')
          +form
            +text('Desired Username', 'Enter your desired username', 'newUsername')
            +button('Change Username', 'changeUsername()')
        +panel('Change Your Password', 'password')
          +form
            +password('Your Current Password', 'Enter your current password', 'oldPassword')
            +password('Your New Password', 'Enter your new password', 'newPassword')
            +password('Confirm Password', 'Re-Enter your new password', 'confirmPassword')
            +button('Change Password', 'changePassword()')
        +panel('Change Your Name', 'name')
          +form
            +text('Your New Name', 'Enter your desired new name', 'newName')
            +button('Change Name', 'changeName()')
        +panel('Delete Your Account', 'deleteSelf')
          +form
            +password('Password', 'Enter your password to confirm action', 'password')
            +button('Delete Account', 'deleteAccount()')
      if (user.labMonitor == 'true' || user.admin == 'true')
        #lm.col-md-8.col-md-offset-2.hidden
          br
          +panel('Close Lab')
            +form
              +button('Close Lab', 'closeLab()')
      if (user.exec == 'true' || user.admin == 'true')
        #exec.col-md-8.col-md-offset-2.hidden
          br
          if user.labMonitor != 'true'
            +panel('Close Lab')
              +form
                +button('Close Lab', 'closeLab()')
          +panel('Grant Lab Monitor', 'grantLM')
            +form
              +text('Username or ID Number', 'Enter a user identifier', 'grantLMID')
              +button('Grant','grantLabMonitor()')
          +panel('Delete User', 'deleteUser')
            +form
              +text('Username or ID Number', 'Enter a user identifier', 'toDelete')
              +button('Delete', 'deleteUser()')
          +panel('Reset User Password', 'passwordReset')
            +form
              .col-md-offset-2 Note: User's password will be reset to their ID number
              br
              +text('Username or ID Number', 'Enter ')
              +button('Reset User Password','alert(1)')
      if user.admin == 'true'
        #admin.col-md-8.col-md-offset-2.hidden
          br
          +panel('Grant Exec', 'grantExec')
            +form
              +text('Username or ID Number', 'Enter a user identifier to grant exec to', 'grantExecID')
              +button('Grant','grantExec()')
          +panel('Reset Database', 'dump')
            +form
              +password('Enter Your Password', 'Enter password', 'password')
              +password('Re-Enter Your Password', 'Re-enter your password', 'confirmPassword')
              +button('Reset Database', 'alert(1)')
      if (user.labMonitor != 'true' || user.exec != 'true') && user.admin != 'true'
        #grant.col-md-8.col-md-offset-2.hidden
          br
          +panel('Enter a Passphrase')
            +form
              +password('Passphrase', 'Enter the passphrase', 'passphrase')
              +button('Submit Passphrase', 'sendPassphrase()')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='/js/notify.js')
    script(src='/js/common.js')
    script(src='/js/home.js')
